<h2>Alta de <span>Amigos</span></h2>
<p>Ingrese los datos para registrar un nuevo amigo:</p>

<form id="formAlta" action="amigos.cgi" method="post">
    <input type="hidden" name="accion" value="acepta_alta" />
    <div>
    	<label for="user">DNI:</label> <input type="text" id="dni" name="dni"><br>
    </div>
    <div>
    	<label for="user">Nombre:</label> <input type="text" id="nombre" name="nombre"><br>
    </div>
    <div>
    	<label for="user">Apellido:</label> <input type="text" id="apellido" name="apellido"><br>
    </div>
    <div>
    	<label for="user">Telefono:</label> <input type="text" id="telefono" name="telefono"><br>
    </div>
    <div>
    	<label for="mail">E-mail:</label> <input type="text" id="mail" name="mail"><br>
    </div>

    <input type="submit" id="registrar" name="registrar" value="Registrar Amigo">

</form>

<p id="btnForm" class="button-style">
    <a href="">Registrar amigo</a>
</p>

<script type="text/javascript">
$('#btnForm').click(function() {
  $('#formAlta').submit();
});
</script>