<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Escritorio</title>

<style type="text/css" title="currentStyle">
	@import "css/general/data_tables/media/css/demo_page.css";
	@import "css/general/data_tables/media/css/demo_table.css";
</style>
<script type="text/javascript" language="javascript" src="lib/javascript/data_tables/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="lib/javascript/data_tables/media/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
//	/*
//	 * Function: fnGetHiddenTrNodes
//	 * Purpose:  Get all of the hidden TR nodes (i.e. the ones which aren't on display)
//	 * Returns:  array:
//	 * Inputs:   object:oSettings - DataTables settings object
//	 */
//	$.fn.dataTableExt.oApi.fnGetHiddenTrNodes = function ( oSettings )
//	{
//		/* Note the use of a DataTables 'private' function thought the 'oApi' object */
//		var anNodes = this.oApi._fnGetTrNodes( oSettings );
//		var anDisplay = $('tbody tr', oSettings.nTable);
//		
//		/* Remove nodes which are being displayed */
//		for ( var i=0 ; i<anDisplay.length ; i++ )
//		{
//			var iIndex = jQuery.inArray( anDisplay[i], anNodes );
//			if ( iIndex != -1 )
//			{
//				anNodes.splice( iIndex, 1 );
//			}
//		}
//		
//		/* Fire back the array to the caller */
//		return anNodes;
//	}
//	
//	/* Init the table and fire off a call to get the hidden nodes. */
//	var oTable;
//	$(document).ready(function() {
//		var oTable = $('#example').dataTable();
//		
//		$('#button').click( function () {
//			var nHidden = oTable.fnGetHiddenTrNodes( );
//			alert( nHidden.length +' nodes were returned' );
//		} );
//	} );
</script>


<script type="text/javascript">
    function ver_descuentos(funciones,row_amigo) {
        var todas = [364,421,470];
        var cant_amigos = 4;
        for (var i in todas){
            var row = document.getElementById(todas[i]); 
            row.style.visibility = 'collapse';   
        }
        for(var i in funciones){
            var row = document.getElementById(funciones[i]);
            row.style.visibility = 'visible';
        }
        for(var i=1;i<=cant_amigos; i++){
            var amigo = document.getElementById('r'+i);
            amigo.style.background = 'white';
        }
        var amigo = document.getElementById(row_amigo);
        amigo.style.background = 'red';
        return false;
        
    }
</script>



</head>
<body width="100%" style="margin: 0% 5%">
    
    <a href="escritorio.html">Escritorio</a><br>
    <a href="descuentos.html">Descuentos</a><br>
    <a href="amigos_alta.html">Amigos</a><br>
    <a href="funciones.html">Funciones</a><br>
    
    <h1>Escritorio</h1>
    
    <h2>Contenido del escritorio:</h2>
    <p>asdasdas dsadasdas dsaasdsadasdasd asdasdsadas dasdasdsad sadsadsadasdas</p>
    <p>asdasdas dsadasdas dsaasdsadasdasd asdasdsadas dasdasdsad sadsadsadasdas</p>
    
    <div style="width: 50%; float: left;">
        <table border="1" width="90%" style="margin: 0% 10% 0% 0%" id="example">
            <tr id="topRow">
                <td>DNI</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Teléfono</td>
                <td>E-mail</td>
                <td>Acción</td>
            </tr>
            <tr id="r1">
                <td>36485632</td>
                <td>Esteban</td>
                <td>González</td>
                <td>42135463</td>
                <td>esteban.gonzalez@hotmail.com</td>
                <td><p onclick="javascript: return ver_descuentos([364,421],'r1');">Ver descuentos</p></td>
            </tr>
            <tr id="r2">
                <td>34856213</td>
                <td>Eduardo</td>
                <td>Vaiana</td>
                <td>4301652</td>
                <td>eduardo.vaiana@hotmail.com</td>
                <td><p onclick="javascript: return ver_descuentos([421,470],'r2');">Ver descuentos</p></td>
            </tr>
            <tr id="r3">
                <td>27456123</td>
                <td>Andrés</td>
                <td>Valle</td>
                <td>4811693</td>
                <td>andres.valle@hotmail.com</td>
                <td><p href="" onclick="javascript: return ver_descuentos([364],'r3');">Ver descuentos</p></td>
            </tr>
            <tr id="r4">
                <td>37412589</td>
                <td>Iván</td>
                <td>Fenoy</td>
                <td>4502312</td>
                <td>ivan.fenoy@hotmail.com</td>
                <td><p href="" onclick="javascript: return ver_descuentos([364,421,470],'r4');">Ver descuentos</p></td>
            </tr>
        </table>
    </div>
    
    <div style="width: 50%; float: left;">
        <table border="1" width="90%" style="margin: 0% 10% 0% 0%">
            <tr>
                <td>ID</td>
                <td>Función</td>
                <td>Descripción</td>
                <td>Fecha última función</td>
            </tr>
            <tr id="364">
                <td>364</td>
                <td>Axel</td>
                <td>Broadway 12 al 15 de Octubre de 2012</td>
                <td>15/10/2012</td>
            </tr>
            <tr id="421">
                <td>421</td>
                <td>Luis Miguel</td>
                <td>Broadway 17 y 18 de Noviembre de 2012</td>
                <td>18/11/2012</td>
            </tr>
            <tr id="470">
                <td>470</td>
                <td>Luis Miguel</td>
                <td>Rosario Central 25 de Noviembre de 2012</td>
                <td>25/11/2012</td>
            </tr>
        </table>
    </div>
    
    <!--
    <script type="text/javascript">
        $(document).ready(function(){
            $('#example').dataTable();
        });
    </script>        
    -->
    
</body>
</html>