<h2><span>Listado de</span> Amigos <span>registrados</span></h2>
<!-- <p>Listado de amigos registrados</p> -->
<!-- <p class="button-style" style="float: right;"><a href="escritorio.cgi?accion=alta">Agregar nuevo Amigo</a></p>
<br><br><br><br><br><br> -->

<!-- <br> -->

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%"> 
	
	<thead> 
		<tr>
			<!-- <th>ID_AMIGO</th> -->
			<th>DNI</th>
			<th>Nombre y Apellido</th>
			<!-- <th>Apellido</th> -->
			<th>Tel&eacute;fono</th>
			<th>E-mail</th>
			<th>Acci&oacute;n</th>

		</tr>
	</thead> 

	<tbody> 
		<!-- TMPL_LOOP ROWS -->
		<tr>
			
			<td><!-- TMPL_VAR dni --></td>
			<td><!-- TMPL_VAR nombre --></td>
			<!-- <td>TMPL_VAR apellido</td> -->
			<td><!-- TMPL_VAR telefono --></td>
			<td><!-- TMPL_VAR mail --></td>
			<td>
				<p>
            		<a  href="amigos.cgi?accion=modificacion&id_amigo=<!-- TMPL_VAR id_amigo -->">
            			<img src="images/editar.png"  height="25px" width="25px">
            		</a>
            		<a  href="amigos.cgi?accion=eliminar&id_amigo=<!-- TMPL_VAR id_amigo -->"
            			onclick="javascript: return confirmar_eliminacion('<!-- TMPL_VAR nombre --> <!-- TMPL_VAR apellido -->');" >
            			<img src="images/borrar.png"  height="25px" width="25px">
            		</a>
            		<a  href="descuentos.cgi?accion=ver_detalle&id_amigo=<!-- TMPL_VAR id_amigo -->" >
            			<img src="images/mostrar.png" height="25px" width="25px">
            		</a>
            	</p>
			</td>
		</tr>
		<!-- /TMPL_LOOP -->
	</tbody> 
</table>
<br><br>
<p class="button-style"><a href="amigos.cgi?accion=alta">Agregar nuevo Amigo</a></p>