<h2>Modificar datos de <span>M&uacute;sicos</span></h2>
<p>Ingrese los datos para modificar los datos del m&uacute;sicos:</p>

<form action="musicos.cgi" method="post">
    <input type="hidden" name="accion" value="acepta_modificacion" />
    <input type="hidden" name="id_musico" value="<!-- TMPL_VAR ID_MUSICO -->" />
    <div>
    	<label for="nombre">Nombre:</label> <input type="text" id="nombre" name="nombre" value="<!-- TMPL_VAR NOMBRE -->"><br>
    </div>
    <div>
        <label for="apellido">Apellido:</label> <input type="text" id="apellido" name="apellido" value="<!-- TMPL_VAR APELLIDO -->"><br>
    </div>

    <div>
        <label for="fijo">Telefono Fijo:</label> <input type="text" id="fijo" name="fijo" value="<!-- TMPL_VAR FIJO -->"><br>
    </div>
    <div>
        <label for="celular">Telefono Celular:</label> <input type="text" id="celular" name="celular" value="<!-- TMPL_VAR CELULAR -->"><br>
    </div>

    <input type="submit" id="registrar" name="registrar" value="Modificar datos">

</form>

<p onclick="" class="button-style"><a href="">Modificar datos</a></p>