<h2>Alta de <span>M&uacute;sicos</span></h2>
<p>Ingrese los datos para registrar una nuevo m&uacute;sico:</p>

<form id="formAlta" action="musicos.cgi" method="post">
    <input type="hidden" name="accion" value="acepta_alta" />
    <div>
        <label for="nombre">Nombre:</label> <input type="text" id="nombre" name="nombre"><br>
    </div>
    <div>
        <label for="apellido">Apellido:</label> <input type="text" id="apellido" name="apellido"><br>
    </div>
    <div>
        <label for="fijo">Telefono Fijo:</label> <input type="text" id="fijo" name="fijo"><br>
    </div>
    <div>
        <label for="celular">Telefono Celular:</label> <input type="text" id="celular" name="celular"><br>
    </div>


    <input type="submit" id="registrar" name="registrar" value="Registrar M&uacute;sico">

</form>

<p id="btnForm" class="button-style">
    <a href="">Registrar M&uacute;sico</a>
</p>

<script type="text/javascript">
$('#btnForm').click(function() {
  $('#formAlta').submit();
});
</script>