<h2><span>Listado de</span> M&uacute;sicos</h2>
<!-- <p>Listado de amigos registrados</p> -->
<!-- <p class="button-style" style="float: right;"><a href="escritorio.cgi?accion=alta">Agregar nuevo Amigo</a></p>
<br><br><br><br><br><br> -->

<!-- <br> -->

<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%"> 
	
	<thead> 
		<tr>
			<th>ID</th>
			<th>Apellido y Nombre</th>
			<th>Telefono Fijo</th>
			<th>Telefono Celular</th>
			<th>Fecha registro</th>
			<th>Acci&oacute;n</th>


		</tr>
	</thead> 

	<tbody> 
		<!-- TMPL_LOOP ROWS -->
		<tr>
			
			<td><!-- TMPL_VAR ID_MUSICO --></td>
			<td><!-- TMPL_VAR NOMBRE --></td>
			<td><!-- TMPL_VAR FIJO --></td>
			<td><!-- TMPL_VAR CELULAR --></td>
			<td><!-- TMPL_VAR FECHA --></td>
			
			<td>
				<p>
            		<a  href="musicos.cgi?accion=modificacion&id_musico=<!-- TMPL_VAR id_musico -->">
            			<img src="images/editar.png"  height="25px" width="25px">
            		</a>
            		<a  href="musicos.cgi?accion=eliminar&id_musico=<!-- TMPL_VAR id_musico -->"
            			onclick="javascript: return confirmar_eliminacion_funcion('<!-- TMPL_VAR nombre --> <!-- TMPL_VAR apellido -->');" >
            			<img src="images/borrar.png"  height="25px" width="25px">
            		</a>
            		
            	</p>
			</td>

		</tr>
		<!-- /TMPL_LOOP -->
	</tbody> 
</table>
<br><br>
<p class="button-style"><a href="musicos.cgi?accion=alta">Agregar nuevo M&uacute;sico</a></p>