<script type="text/javascript">
	
	// Objetos Reserva
	var reservas = <!-- TMPL_VAR RESERVAS -->;
	// [
	// 	{ 
	// 		'id_reserva': 1,
	// 		'id_celda': '1200_1',
	// 		'cant_celdas': 2,
	// 		'clase': 'reserva fijo',
	// 		'texto': 'Reserva 1',
	// 		'musico': 'Señor músico',
	// 	},
	// 	{ 
	// 		'id_reserva': 2,
	// 		'id_celda': '1500_2',
	// 		'cant_celdas': 3,
	// 		'clase': 'reserva noFijo',
	// 		'texto': 'Reserva 2',
	// 		'musico': 'Señor músico',
	// 		'banda': 'La banda',
	// 	},
	// 	{ 
	// 		'id_reserva': 3,
	// 		'id_celda': '1200_3',
	// 		'cant_celdas': 8,
	// 		'clase': 'reserva fijo',
	// 		'texto': 'Reserva 3',
	// 		'musico': 'Señor músico',
	// 		'banda': 'La banda',
	// 	},
	// 	{ 
	// 		'id_reserva': 4,
	// 		'id_celda': '1700_1',
	// 		'cant_celdas': 2,
	// 		'clase': 'reserva fijo',
	// 		'texto': 'Reserva 4',
	// 		'musico': 'Señor músico',
	// 		'banda': 'La banda',
	// 	},
	// 	{ 
	// 		'id_reserva': 5,
	// 		'id_celda': '1400_1',
	// 		'cant_celdas': 3,
	// 		'clase': 'reserva noFijo',
	// 		'texto': 'Reserva 5',
	// 		'musico': 'Señor músico',
	// 	}
	// ];


	$(function() {

		jQuery.each(reservas, function() {

			var padre = $('#'+this.id_celda);

			$('<div/>',{
			    // text: this.texto,
			    'id' : this.id_reserva,
			    'class': this.clase,
			    'css' : {
			    	'height': (padre.outerHeight() -1)* this.cant_celdas,// - (this.cant_celdas),
			    	'width': padre.innerWidth(),
			    	'position': 'absolute'
			    },
			}).appendTo(padre);

			var div_reserva = $('#'+this.id_reserva);

			var cant_horas = Math.floor(this.cant_celdas / 2);
			var label_horas;
			var texto_div_reserva;
			var media_hora = '';
			if ( this.cant_celdas > 1 && this.cant_celdas % 2 ){
				media_hora = ' y media';
			}

			if ( this.cant_celdas == 1 ){
				label_horas = ' Media hora';
				texto_div_reserva = 
					'<p>' + this.nombre_musico + ' - ' + this.nombre_banda + ' - ' + label_horas + '</p>';
			}else if ( this.cant_celdas == 2 || this.cant_celdas == 3 ){
				label_horas = cant_horas + ' hora';
				texto_div_reserva = 
					'<p>' + this.nombre_musico + ' - ' + this.nombre_banda + '</p>' +
					'<p>' + label_horas + media_hora + '</p>';
			}else if ( this.cant_celdas > 3 ){
				label_horas = cant_horas + ' horas';
				texto_div_reserva = 
					'<p>' + this.nombre_musico + '</p>' +
					'<p>' + this.nombre_banda + '</p>' +
					'<p>' + label_horas + media_hora + '</p>';
			}



			// if( this.banda ){
			// 	texto_div_reserva = texto_div_reserva + '<p>'+this.banda+'</p>';
			// }

			div_reserva.append( texto_div_reserva );

		});

		$(".reserva").click(function(){
	        var url = "reservas.cgi?accion=ver_reserva&id_reserva="+this.id;
	        $(location).attr('href',url);
	    });

	});


</script>





<h2><span>Listado de</span> Reservas</h2>

<!-- <p onclick="" class="button-style"><a href="reservas.cgi?accion=registrar_reserva">Registrar nueva reserva</a></p><p></p> -->







<div id="footer-wrapper">
	<div id="footer-content_sin_padding">
		<div id="fbox1_izq">
			<p><a href="reservas.cgi?accion=mostrar_reservas&dia=">Reservas de Ayer</a></p>
		</div>
		<div id="fbox2" style="padding-right: 20px;">
			<p align ="right"><a href="reservas.cgi?accion=mostrar_reservas&dia=">Reservas de Ma&ntilde;ana</a></p>
		</div>
	</div>
</div>





<table cellpadding="0" cellspacing="0" border="1" class="display" id="reservas" width="100%"> 
	
	<thead> 
		<tr>
			<th width=10% ></th>
			<!-- TMPL_LOOP SALAS -->
			<th width=30%><!-- TMPL_VAR NOMBRE_SALA --></th>
			<!-- /TMPL_LOOP SALAS -->
		</tr>
	</thead> 

	<tbody> 
		<!-- TMPL_LOOP HORARIOS -->
		<tr>
			<td><!-- TMPL_VAR HORA -->:<!-- TMPL_VAR MIN --></td>
			<!-- TMPL_LOOP LOOP_SALAS -->
			<td id="<!-- TMPL_VAR HORA --><!-- TMPL_VAR MIN -->_<!-- TMPL_VAR ID_SALA -->"></td>
			<!-- /TMPL_LOOP SALAS -->
		</tr>
		<!-- /TMPL_LOOP HORARIOS -->
	</tbody>
</table>



<div id="footer-wrapper">
	<div id="footer-content_sin_padding">
		<div id="fbox1_izq">
			<p><a href="reservas.cgi?accion=mostrar_reservas&dia=">Reservas de Ayer</a></p>
		</div>
		<div id="fbox2" style="padding-right: 20px;">
			<p align ="right"><a href="reservas.cgi?accion=mostrar_reservas&dia=">Reservas de Ma&ntilde;ana</a></p>
		</div>
	</div>
</div>




<p onclick="" class="button-style"><a href="reservas.cgi?accion=alta">Registrar nueva reserva</a></p>

<!-- <table cellpadding="0" cellspacing="0" border="1" class="display" id="reservas" width="100%"> 
	
	<thead> 
		<tr>
			<th width=10% ></th>
			<th width=30%>SALA 1</th>
			<th width=30%>SALA 2</th>
			<th width=30%>SALA 3</th>
		</tr>
	</thead> 

	<tbody> 
		<tr>
			<td>12:00</td>
			<td id="1200_1"></td>
			<td id="1200_2"></td>
			<td id="1200_3"></td>
		</tr>
		<tr>
			<td>13:00</td>
			<td id="1300_1"></td>
			<td id="1300_2"></td>
			<td id="1300_3"></td>
		</tr>
		<tr>
			<td>14:00</td>
			<td id="1400_1"></td>
			<td id="1400_2"></td>
			<td id="1400_3"></td>
		</tr>
		<tr>
			<td>15:00</td>
			<td id="1500_1"></td>
			<td id="1500_2"></td>
			<td id="1500_3"></td>
		</tr>
		<tr>
			<td>16:00</td>
			<td id="1600_1"></td>
			<td id="1600_2"></td>
			<td id="1600_3"></td>
		</tr>
		<tr>
			<td>17:00</td>
			<td id="1700_1"></td>
			<td id="1700_2"></td>
			<td id="1700_3"></td>
		</tr>
		<tr>
			<td>18:00</td>
			<td id="1800_1"></td>
			<td id="1800_2"></td>
			<td id="1800_3"></td>
		</tr>
		<tr>
			<td>19:00</td>
			<td id="1900_1"></td>
			<td id="1900_2"></td>
			<td id="1900_3"></td>
		</tr>
	</tbody> 
</table>
 -->