<h2>Modificar datos de la <span>Reserva</span></h2>
<p>Datos de la reserva</p>

<form action="reservas.cgi" method="post">
    <input type="hidden" name="accion" value="acepta_modificacion" />
    <input type="hidden" name="id_reserva" value="<!-- TMPL_VAR ID_RESERVA -->" />
    

    <div>
        <label for="sala">Sala:</label> <input type="text" id="sala" name="sala" value="<!-- TMPL_VAR ID_SALA -->"><br>
    </div>
    <div>
    	<label for="musico">M&uacute;sico:</label> <input type="text" id="musico" name="musico" value="<!-- TMPL_VAR MUSICO -->"><br>
    </div>
    <div>
        <label for="banda">Banda:</label> <input type="text" id="banda" name="banda" value="<!-- TMPL_VAR BANDA -->"><br>
    </div>

    <div>
        <label for="desde">Desde:</label> <input type="text" id="desde" name="desde" value="<!-- TMPL_VAR DESDE -->"><br>
    </div>
    <div>
        <label for="hasta">Hasta:</label> <input type="text" id="hasta" name="hasta" value="<!-- TMPL_VAR HASTA -->"><br>
    </div>

    <p>Alquiler de accesorios</p>

    <table cellpadding="0" cellspacing="0" border="1" class="display" width="80%"> 
    
        <thead> 
            <tr>
                <th width=30%>Descripci&oacute;n</th>
                <th width=30%>Detalle</th>
                <th width=10%>Precio</th>
                <th width=10%>Alquilado</th>
            </tr>
        </thead> 

        <tbody> 
            <!-- TMPL_LOOP ACCESORIOS -->
            <tr>
                <td><!-- TMPL_VAR NOMBRE --></td>
                <td><!-- TMPL_VAR DESCRIPCION --></td>
                <td>$<!-- TMPL_VAR PRECIO --></td>
                <td>
                    <input type="checkbox" name="check_alquilado" value="<!-- TMPL_VAR ID_ACCESORIO -->" <!-- TMPL_IF ALQUILADO -->checked<!-- /TMPL_IF ALQUILADO --> >
                </td>
            </tr>
            <!-- /TMPL_LOOP ACCESORIOS -->
        </tbody>
    </table>



    <input type="submit" id="registrar" name="registrar" value="Modificar datos">

</form>

<p onclick="" class="button-style"><a href="">Modificar datos</a></p>
<p onclick="" class="button-style"><a href="?accion=eliminar&id_reserva=<!-- TMPL_VAR ID_RESERVA -->">Cancelar reserva</a></p>